// Colors
$success-color: #6EB927;
$failure-color: #f00;
$incomplete-color: #000;
$running-color: #069;

// Dashboard table
#staging-dashboard {
  th.project {
    text-align: right;

    div.packages-list {
      font-weight: normal;
      font-size: 11px;
    }
  }

  td {
    text-align: center;

    img {
      margin-top: 4px;
    }
  }

  // To fix an issue with rowspans
  tr:last-child td {
    border-bottom: 1px dotted #CCCCCC;
  }
}

// OpenQA Jobs
a.openqa-passed {
  color: $success-color;
}
a.openqa-failed {
  color: $failure-color;
}
a.openqa-none {
  color: $running-color;
}
a.openqa-incomplete {
  color: $incomplete-color;
}

.content-wrapper .box .factory-summary {
  dl {
    margin-left: 10px;
    margin-right: 10px;
  }
  dt {
    float: left;
    clear: left;
    width: 160px;
    text-align: right;
    font-weight: bold;
//    color: #669900;
    img {
      float: left;
    }
  }
  dt:after {
    content: ":";
  }
  dd {
    margin: 0 0 0 170px;
    padding: 0 0 1em 0;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}
