<!DOCTYPE html>
<html>
<head>
  <title>ObsFactory</title>
  <%= stylesheet_link_tag    "obs_factory/application", media: "all" %>
  <%= javascript_include_tag "obs_factory/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
