%div{class: "grid_16 alpha"}
  %div{class: "box box-shadow"}
    %p= link_to "Staging Projects", controller: 'staging_projects', action: :index
    %ul{id: 'main-dashboard'}
      - @staging_projects.each do |project|
        - next if project.overall_state == :empty
        %li
          = render partial: 'obs_factory/staging_projects/overall_state', locals: { project: project }

    %div{class: 'clear'}

    %p Ring Projects

