<td class="openqa-jobs">
  <% if project.openqa_jobs.size.zero? %>
    -
  <% else %>
    <% jobs = project.openqa_jobs.map {|j| render(j) } %>
    <%= jobs.join(" / ").html_safe %>
  <% end %>
</td>
