<td class="openqa-jobs">
  <% if project.openqa_jobs.empty? %>
    -
  <% else %>
    <ul class='openqa_list'>
    <% project.openqa_jobs.each do |j| %>
      <li class='openqa_job'><%= render(j) %></li>
    <% end %>
    </ul>
  <% end %>
</td>
