%ul{class: "packages-list"}
  - project.classified_requests.each do |r|
    %li{class: "#{r[:css]} request"}
      = link_to r[:package], main_app.request_show_path(r[:id])
      - mrs = r[:missing_reviews] || []
      - mrs.each do |mr|
        = link_to content_tag(:i, nil, class: "fa-#{mr[:icon]} fa missing_review"), main_app.request_show_path(r[:id])
