<% problems = []
   if project.overall_state != :building
     problems += project.failed_openqa_jobs.map do |j|
       content_tag(:li, "QA: #{render(j)}".html_safe, class: "openqa_job")
     end
   end
-%>

<%# Failed packages are grouped by name %>
<% failed_packages = {} %>
<% other_broken_packages = [] %>
<% project.broken_packages.each do |pack|
  name = pack['package']
  if pack['state'] == 'failed'
    version = {arch: pack['arch'], project: pack['project']}
    if failed_packages[name]
      failed_packages[name][:versions] << version
    else
      failed_packages[name] = {repository: pack['repository'], versions: [version]}
    end
  else
    other_broken_packages << {name: pack['package'], state: pack['state'], project: pack['project'] }
  end
end -%>

<% problems += failed_packages.map do |name, attrs|
  versions = attrs[:versions].map do |v|
    link_to(v[:arch], main_app.package_live_build_log_url(v.merge(package: name, repository: attrs[:repository])))
  end
  label = "Build failed #{name} (" + versions.join(", ") + ")"
  content_tag(:li, label.html_safe, class: "failed_pkg status_failed")
end -%>

<% problems += other_broken_packages.map do |pack|
  st = pack[:state]
  name = pack[:name]
  label = "Build #{st}: #{name}"
  content_tag(:li, link_to(label.html_safe, main_app.package_show_url(pack[:project], name)), class: "failed_pkg status_#{st}")
end -%>

<% if problems.empty? %>
  <i class='fa-check-circle fa fa-2x ok-checkbox'></i>
<% else %>
  <ul class='problem_list'>
    <% problems.sort[0,5].each do |p| %>
      <%= p %>
    <% end %>
    <% if problems.size > 5 %>
      <li>...<%= problems.size - 5 %> more problems</li>
    <% end %>
  </ul>
<% end %>
