%li{class: "#{request[:css]} request"}
  = link_to request[:package], main_app.request_show_path(request[:id])
  - mrs = request[:missing_reviews] || []
  - mrs.each do |mr|
    = link_to content_tag(:i, nil, class: "fa-#{mr[:icon]} fa missing_review"), main_app.request_show_path(request[:id])
